.raw-html-content h1 {
  font-size: 30px;
  padding: 0.25em;
  background: #2196f3;
  color: #fff;
  font-weight: bold;
  width: fit-content;
  margin: 1em 0;
}

.raw-html-content h1:first-child {
  margin-top: 0;
}

.raw-html-content h1:last-child {
  margin-bottom: 0;
}

.raw-html-content h2 {
  font-size: 27px;
  font-weight: bold;
  padding-left: 0.3em;
  border-left: 0.3em #2196f3 solid;
  margin: 1em 0;
}

.raw-html-content h2:first-child {
  margin-top: 0;
}

.raw-html-content h2:last-child {
  margin-bottom: 0;
}

.raw-html-content h3 {
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  margin: 1em 0;
  background-size: 100% 0.6em;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #2196f3, #2196f3);
}

.raw-html-content h3:first-child {
  margin-top: 0;
}

.raw-html-content h3:last-child {
  margin-bottom: 0;
}

.raw-html-content h4 {
  font-size: 21px;
  font-weight: bold;
  margin: 1em 0;
}

.raw-html-content h4:first-child {
  margin-top: 0;
}

.raw-html-content h4:last-child {
  margin-bottom: 0;
}

.raw-html-content h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 1em 0;
}

.raw-html-content h5:first-child {
  margin-top: 0;
}

.raw-html-content h5:last-child {
  margin-bottom: 0;
}

.raw-html-content h6 {
  font-size: 15px;
  font-weight: bold;
  margin: 1em 0;
}

.raw-html-content h6:first-child {
  margin-top: 0;
}

.raw-html-content h6:last-child {
  margin-bottom: 0;
}

.raw-html-content p {
  font-size: 15px;
  line-height: 1.8em;
  line-break: break-word;
  text-align: justify;
  margin: 1em 0;
}

.raw-html-content p:first-child {
  margin-top: 0;
}

.raw-html-content p:last-child {
  margin-bottom: 0;
}

.raw-html-content a {
  text-decoration: none;
  color: #2196f3;
}

.raw-html-content a::after {
  content: '[↑]';
  font-size: 80%;
}

.raw-html-content strong {
  color: #2196f3;
}

.raw-html-content em {
  font-style: italic;
}

.raw-html-content li {
  font-size: 15px;
  line-height: 1.8em;
  line-break: break-word;
  text-align: justify;
  margin: 0.5em 0;
}

.raw-html-content hr {
  border-color: #2196f3;
}

.raw-html-content :not(pre) code {
  line-break: break-word;
  padding: 0.2em 0.4em;
  font-size: 85%;
  border-radius: 0.2em;
  background-color: rgba(33, 150, 243, 0.1);
}

.raw-html-content pre {
  border-radius: 8px;
  font-size: 15px;
  margin: 1em 0;
  overflow: hidden;
}

.raw-html-content pre:first-child {
  margin-top: 0;
}

.raw-html-content pre:last-child {
  margin-bottom: 0;
}

.raw-html-content blockquote {
  padding: 15px;
  background: rgba(33, 150, 243, 0.1);
  border-left: 4px #2196f3 solid;
  margin: 15px 0;
}

.raw-html-content blockquote:first-child {
  margin-top: 0;
}

.raw-html-content blockquote:last-child {
  margin-bottom: 0;
}

.raw-html-content img {
  display: block;
  border-radius: 8px;
  max-width: 100%;
  margin: 0 auto;
}

.raw-html-content img:first-child {
  margin-top: 0;
}

.raw-html-content img:last-child {
  margin-bottom: 0;
}

.raw-html-content pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

.raw-html-content code.hljs {
  padding: 3px 5px
}

.raw-html-content .gallery-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin: 15px 0;
}

.raw-html-content .gallery-wrapper:first-child {
  margin-top: 0;
}

.raw-html-content .gallery-wrapper:last-child {
  margin-bottom: 0;
}

.raw-html-content .gallery {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  font-size: 0;
  border-radius: 8px;
  background: #000000;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.raw-html-content .gallery img {
  max-width: unset;
  border-radius: 0;
}

.raw-html-content .gallery-image-wrapper {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.raw-html-content .gallery-image-wrapper:not(:first-child) {
  margin-left: 8px;
}

.raw-html-content .gallery-image-wrapper:not(:last-child) {
  margin-right: 8px;
}

.raw-html-content .gallery-image {
  width: 100%;
}

.raw-html-content .hljs {
  background: #1d1f21;
  color: #c5c8c6
}

.raw-html-content .hljs span::selection,
.raw-html-content .raw-html-content .hljs::selection {
  background: #373b41
}

.hljs span::-moz-selection,
.raw-html-content .hljs::-moz-selection {
  background: #373b41
}

.raw-html-content .hljs-name,
.raw-html-content .hljs-title {
  color: #f0c674
}

.raw-html-content .hljs-comment,
.raw-html-content .hljs-meta,
.raw-html-content .hljs-meta .hljs-keyword {
  color: #707880
}

.raw-html-content .hljs-deletion,
.raw-html-content .hljs-link,
.raw-html-content .hljs-literal,
.raw-html-content .hljs-number,
.raw-html-content .hljs-symbol {
  color: #c66
}

.raw-html-content .hljs-addition,
.raw-html-content .hljs-doctag,
.raw-html-content .hljs-regexp,
.raw-html-content .hljs-selector-attr,
.raw-html-content .hljs-selector-pseudo,
.raw-html-content .hljs-string {
  color: #b5bd68
}

.raw-html-content .hljs-attribute,
.raw-html-content .hljs-code,
.raw-html-content .hljs-selector-id {
  color: #b294bb
}

.raw-html-content .hljs-bullet,
.raw-html-content .hljs-keyword,
.raw-html-content .hljs-selector-tag,
.raw-html-content .hljs-tag {
  color: #81a2be
}

.raw-html-content .hljs-subst,
.raw-html-content .hljs-template-tag,
.raw-html-content .hljs-template-variable,
.raw-html-content .hljs-variable {
  color: #8abeb7
}

.raw-html-content .hljs-built_in,
.raw-html-content .hljs-quote,
.raw-html-content .hljs-section,
.raw-html-content .hljs-selector-class,
.raw-html-content .hljs-type {
  color: #de935f
}

.raw-html-content .hljs-emphasis {
  font-style: italic
}

.raw-html-content .hljs-strong {
  font-weight: 700
}
