app/config/database.js
app/config/jwt_secret.js
app/config/wechat_official_account.js
app/config/wechat_website.js
app/config/wechat_mini_program.js
app/config/qq_website.js
app/config/tcloud.js
app/config/redis.js
app/config/vaptcha.js
app/config/smtp.js
node_modules/
build/